<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>

    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="user">
        <h1>인덱스 페이지 입니다.</h1>
        <div>여기는 기본 인덱스 페이지 입니다. (FOR USER)</div>
    </section>
</body>
</html>