<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/util/box.css" rel="stylesheet" type="text/css" />
    <link href="/css/util/content.css" rel="stylesheet" type="text/css" />
    <link href="/css/util/form.css" rel="stylesheet" type="text/css" />
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="form-section">
        <h1 class="login-title">안녕하세요:&rpar; <br> 토이원 프로젝트입니다. </h1>
        <form class="login-form" action="login" method="post">
            <div class="input-box">
                <input type="text" placeholder="아이디 입력" name="username" required>
                <input type="password" placeholder="비밀번호 입력" name="password" required>
            </div>
            <button>로그인</button>
        </form>
    </section>
    <nav class="link-section">
        <h1 class="d:none">정보찾기 페이지 링크</h1>
        <div class="links">
            <a>아이디 찾기</a>
            <a>비밀번호 찾기</a>
            <a>회원가입</a>
        </div>
    </nav>
</body>
</html>