/*
순서

font
text
cursor
visible
float
vertical-align

*/

/* === font ================================*/
/* 웹폰트 
https://github.com/orioncactus/pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

/*--- font family ------------------------------------------------------------------*/
.font-family\:noto {
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-family\:nanum {
  font-family: "NanumSquare" !important;
}

.font-family\:monospace {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
}

/* ------- font-size ------------------------- */
.font-size\:-1 {
  font-size: 12px !important;
}

.font-size\:0 {
  font-size: 14px !important;
}

.font-size\:1 {
  font-size: 16px !important;
}

.font-size\:2 {
  font-size: 18px !important;
}

.font-size\:3 {
  font-size: 20px !important;
}

.font-size\:4 {
  font-size: 22px !important;
}

.font-size\:5 {
  font-size: 24px !important;
}

.font-size\:6 {
  font-size: 24px !important;
}

.font-size\:1r {
  font-size: 0.5em !important;
}

.font-size\:2r {
  font-size: 0.75em !important;
}

.font-size\:3r {
  font-size: 1em !important;
}

.font-size\:4r {
  font-size: 1.5em !important;
}

.font-size\:5r {
  font-size: 2em !important;
}

.font-size\:6r {
  font-size: 2.5em !important;
}

.font-size\:7r {
  font-size: 3em !important;
}

.font-size\:8r {
  font-size: 3.75em !important;
}

/* ---- font color ------------------------------------------------- */
.color\:base-0,
.color\:white {
  color: var(--color-base-0) !important;
}

.color\:base-1 {
  color: var(--color-base-1) !important;
}

.color\:base-2 {
  color: var(--color-base-2) !important;
}

.color\:base-3 {
  color: var(--color-base-3) !important;
}

.color\:base-4 {
  color: var(--color-base-4) !important;
}

.color\:base-5 {
  color: var(--color-base-5) !important;
}

.color\:base-6 {
  color: var(--color-base-6) !important;
}

.color\:base-7 {
  color: var(--color-base-7) !important;
}

.color\:base-8 {
  color: var(--color-base-8) !important;
}

.color\:base-9 {
  color: var(--color-base-9) !important;
}

.color\:base-10 {
  color: var(--color-base-10) !important;
}

.color\:base-11 {
  color: var(--color-base-11) !important;
}

.color\:base-12 {
  color: var(--color-base-12) !important;
}

.color\:base-13 {
  color: var(--color-base-13) !important;
}

.color\:black {
  color: var(--color-black) !important;
}

.color\:main-1 {
  color: var(--color-main-1) !important;
}

.color\:main-2 {
  color: var(--color-main-2) !important;
}

.color\:main-3 {
  color: var(--color-main-3) !important;
}

.color\:primary-1 {
  color: var(--color-primary-1) !important;
}

.color\:primary-2 {
  color: var(--color-primary-2) !important;
}

.color\:primary-3 {
  color: var(--color-primary-3) !important;
}

.color\:secondary-1 {
  color: var(--color-secondary-1) !important;
}

.color\:secondary-2 {
  color: var(--color-secondary-2) !important;
}

.color\:secondary-3 {
  color: var(--color-secondary-3) !important;
}

.color\:accent-1 {
  color: var(--color-accent-1) !important;
}

.color\:accent-2 {
  color: var(--color-accent-2) !important;
}

.color\:accent-3 {
  color: var(--color-accent-3) !important;
}

/* --- .font-weight ---------------------------- */

.font-weight\:-2 {
  font-weight: 200 !important;
}

.font-weight\:-1 {
  font-weight: 300 !important;
}

.font-weight\:0 {
  font-weight: 400 !important;
}

.font-weight\:1 {
  font-weight: 500 !important;
}

.font-weight\:2 {
  font-weight: 600 !important;
}

.font-weight\:3 {
  font-weight: 700 !important;
}

.font-weight\:4 {
  font-weight: 900 !important;
}

.font-weight\:5 {
  font-weight: 900 !important;
}

.font-weight\:lighter {
  font-weight: lighter !important;
}

.font-weight\:light {
  font-weight: 300 !important;
}

.font-weight\:normal {
  font-weight: normal !important;
}

/*400*/
.font-weight\:bold {
  font-weight: bold !important;
}

/*700*/
.font-weight\:bolder {
  font-weight: bolder !important;
}

/* --- .font-style ------------------------------*/

.font-style\:unset {
  font-style: unset !important;
}

.font-style\:normal {
  font-style: normal !important;
}

.font-style\:italic {
  font-style: italic !important;
}

/* === text ============================= */

.text-indent\:1 {
  text-indent: 0.5em;
}

.text-indent\:1 {
  text-indent: 1em;
}

/*--- text align ------------------------------------------------------------------*/

.text-align\:left {
  text-align: left !important;
}

.text-align\:center {
  text-align: center !important;
}

.text-align\:right {
  text-align: right !important;
}

.text-align\:justify {
  text-align: justify !important;
}

/*--- text-decoration------------------------ */

.text-decoration\:none {
  text-decoration: none !important;
}

/*--- text-transform --------------------------------------------------------------*/

.text-transform\:lowercase {
  text-transform: lowercase !important;
}

.text-transform\:uppercase {
  text-transform: uppercase !important;
}

.text-transform\:capitalize {
  text-transform: capitalize !important;
}

/*--- .white-space ------------------------------------------------------------------*/

.white-space\:normal {
  white-space: normal !important;
}

.white-space\:nowrap {
  white-space: nowrap !important;
}

/* === cursor =============================== */
.cursor-pointer\:alias {
  cursor: alias !important;
}

.cursor-pointer\:all-scroll {
  cursor: all-scroll !important;
}

.cursor-pointer\:auto {
  cursor: auto !important;
}

.cursor-pointer\:cell {
  cursor: cell !important;
}

.cursor-pointer\:col-resize {
  cursor: col-resize !important;
}

.cursor-pointer\:ontext-menu {
  cursor: context-menu !important;
}

.cursor-pointer\:copy {
  cursor: copy !important;
}

.cursor-pointer\:crosshair {
  cursor: crosshair !important;
}

.cursor-pointer\:default {
  cursor: default !important;
}

.cursor-pointer\:e-resize {
  cursor: e-resize !important;
}

.cursor-pointer\:ew-resize {
  cursor: ew-resize !important;
}

.cursor-pointer\:grab {
  cursor: grab !important;
}

.cursor-pointer\:grabbing {
  cursor: grabbing !important;
}

.cursor-pointer\:help {
  cursor: help !important;
}

.cursor-pointer\:move {
  cursor: move !important;
}

.cursor-pointer\:n-resize {
  cursor: n-resize !important;
}

.cursor-pointer\:ne-resize {
  cursor: ne-resize !important;
}

.cursor-pointer\:nesw-resize {
  cursor: nesw-resize !important;
}

.cursor-pointer\:pointer {
  cursor: pointer !important;
}

.cursor-pointer\:progress {
  cursor: progress !important;
}

.cursor-pointer\:s-resize {
  cursor: s-resize !important;
}

.cursor-pointer\:se-resize {
  cursor: se-resize !important;
}

.cursor-pointer\:sw-resize {
  cursor: sw-resize !important;
}

.cursor-pointer\:text {
  cursor: text !important;
}

.cursor-pointer\:vertical-text {
  cursor: vertical-text !important;
}

.cursor-pointer\:w-resize {
  cursor: w-resize !important;
}

.cursor-pointer\:wait {
  cursor: wait !important;
}

.cursor-pointer\:zoom-in {
  cursor: zoom-in !important;
}

.cursor-pointer\:zoom-out {
  cursor: zoom-out !important;
}

.cursor-pointer\:initial {
  cursor: initial !important;
}

.cursor-pointer\:inherit {
  cursor: inherit !important;
}

/*-=== visible =================================--------------------------*/
.visibility\:visible {
  visibility: visible !important;
}

.visibility\:hidden {
  visibility: hidden !important;
}

.visibility\:collapse {
  visibility: collapse !important;
}

.visibility\:unset {
  visibility: unset !important;
}

.visibility\:inherit {
  visibility: inherit !important;
}

.visibility\:initial {
  visibility: initial !important;
}

/* ==== float ================================ */
.float\:left {
  float: left !important;
}

.float\:right {
  float: right !important;
}

.float\:none {
  float: none !important;
}

.float\:inline-end {
  float: inline-end !important;
}

.float\:inline-start {
  float: inline-start !important;
}

.float\:unset {
  float: unset !important;
}

.float\:inherit {
  float: inherit !important;
}

.float\:initial {
  float: initial !important;
}

/* === vertical-align =========================== */
.vertical-align\:auto {
  vertical-align: auto !important;
}

.vertical-align\:baseline {
  vertical-align: baseline !important;
}

.vertical-align\:bottom {
  vertical-align: bottom !important;
}

.vertical-align\:middle {
  vertical-align: middle !important;
}

.vertical-align\:sub {
  vertical-align: sub !important;
}

.vertical-align\:super {
  vertical-align: super !important;
}

.vertical-align\:text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-align\:text-top {
  vertical-align: text-top !important;
}

.vertical-align\:top {
  vertical-align: top !important;
}

.vertical-align\:auto {
  vertical-align: -webkit-baseline-middle !important;
}

.vertical-align\:inherit {
  vertical-align: inherit !important;
}

.vertical-align\:initial {
  vertical-align: initial !important;
}

@media (min-width: 800px) {
  /*
순서

font
text
cursor
visible
float
vertical-align

*/

  /* === font ================================*/
  /* 웹폰트 
https://github.com/orioncactus/pretendard */
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

  /*--- font family ------------------------------------------------------------------*/
  .md\:font-family\:noto {
    font-family: "Noto Sans KR", sans-serif !important;
  }

  .md\:font-family\:nanum {
    font-family: "NanumSquare" !important;
  }

  .md\:font-family\:monospace {
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace !important;
  }

  /* ------- font-size ------------------------- */
  .md\:font-size\:-1 {
    font-size: 12px !important;
  }

  .md\:font-size\:0 {
    font-size: 14px !important;
  }

  .md\:font-size\:1 {
    font-size: 16px !important;
  }

  .md\:font-size\:2 {
    font-size: 18px !important;
  }

  .md\:font-size\:3 {
    font-size: 20px !important;
  }

  .md\:font-size\:4 {
    font-size: 22px !important;
  }

  .md\:font-size\:5 {
    font-size: 24px !important;
  }

  .md\:font-size\:6 {
    font-size: 24px !important;
  }

  .md\:font-size\:1r {
    font-size: 0.5em !important;
  }

  .md\:font-size\:2r {
    font-size: 0.75em !important;
  }

  .md\:font-size\:3r {
    font-size: 1em !important;
  }

  .md\:font-size\:4r {
    font-size: 1.5em !important;
  }

  .md\:font-size\:5r {
    font-size: 2em !important;
  }

  .md\:font-size\:6r {
    font-size: 2.5em !important;
  }

  .md\:font-size\:7r {
    font-size: 3em !important;
  }

  .md\:font-size\:8r {
    font-size: 3.75em !important;
  }

  /* ---- font color ------------------------------------------------- */
  .md\:color\:base-0,
  .md\:color\:white {
    color: var(--color-base-0) !important;
  }

  .md\:color\:base-1 {
    color: var(--color-base-1) !important;
  }

  .md\:color\:base-2 {
    color: var(--color-base-2) !important;
  }

  .md\:color\:base-3 {
    color: var(--color-base-3) !important;
  }

  .md\:color\:base-4 {
    color: var(--color-base-4) !important;
  }

  .md\:color\:base-5 {
    color: var(--color-base-5) !important;
  }

  .md\:color\:base-6 {
    color: var(--color-base-6) !important;
  }

  .md\:color\:base-7 {
    color: var(--color-base-7) !important;
  }

  .md\:color\:base-8 {
    color: var(--color-base-8) !important;
  }

  .md\:color\:base-9 {
    color: var(--color-base-9) !important;
  }

  .md\:color\:base-10 {
    color: var(--color-base-10) !important;
  }

  .md\:color\:base-11 {
    color: var(--color-base-11) !important;
  }

  .md\:color\:base-12 {
    color: var(--color-base-12) !important;
  }

  .md\:color\:base-13 {
    color: var(--color-base-13) !important;
  }

  .md\:color\:black {
    color: var(--color-black) !important;
  }

  .md\:color\:main-1 {
    color: var(--color-main-1) !important;
  }

  .md\:color\:main-2 {
    color: var(--color-main-2) !important;
  }

  .md\:color\:main-3 {
    color: var(--color-main-3) !important;
  }

  .md\:color\:primary-1 {
    color: var(--color-primary-1) !important;
  }

  .md\:color\:primary-2 {
    color: var(--color-primary-2) !important;
  }

  .md\:color\:primary-3 {
    color: var(--color-primary-3) !important;
  }

  .md\:color\:secondary-1 {
    color: var(--color-secondary-1) !important;
  }

  .md\:color\:secondary-2 {
    color: var(--color-secondary-2) !important;
  }

  .md\:color\:secondary-3 {
    color: var(--color-secondary-3) !important;
  }

  .md\:color\:accent-1 {
    color: var(--color-accent-1) !important;
  }

  .md\:color\:accent-2 {
    color: var(--color-accent-2) !important;
  }

  .md\:color\:accent-3 {
    color: var(--color-accent-3) !important;
  }

  /* --- .font-weight ---------------------------- */

  .md\:font-weight\:-2 {
    font-weight: 200 !important;
  }

  .md\:font-weight\:-1 {
    font-weight: 300 !important;
  }

  .md\:font-weight\:0 {
    font-weight: 400 !important;
  }

  .md\:font-weight\:1 {
    font-weight: 500 !important;
  }

  .md\:font-weight\:2 {
    font-weight: 600 !important;
  }

  .md\:font-weight\:3 {
    font-weight: 700 !important;
  }

  .md\:font-weight\:4 {
    font-weight: 900 !important;
  }

  .md\:font-weight\:5 {
    font-weight: 900 !important;
  }

  .md\:font-weight\:lighter {
    font-weight: lighter !important;
  }

  .md\:font-weight\:light {
    font-weight: 300 !important;
  }

  .md\:font-weight\:normal {
    font-weight: normal !important;
  }

  /*400*/
  .md\:font-weight\:bold {
    font-weight: bold !important;
  }

  /*700*/
  .md\:font-weight\:bolder {
    font-weight: bolder !important;
  }

  /* --- .font-style ------------------------------*/

  .md\:font-style\:unset {
    font-style: unset !important;
  }

  .md\:font-style\:normal {
    font-style: normal !important;
  }

  .md\:font-style\:italic {
    font-style: italic !important;
  }

  /* === text ============================= */

  .md\:text-indent\:1 {
    text-indent: 0.5em;
  }

  .md\:text-indent\:1 {
    text-indent: 1em;
  }

  /*--- text align ------------------------------------------------------------------*/

  .md\:text-align\:left {
    text-align: left !important;
  }

  .md\:text-align\:center {
    text-align: center !important;
  }

  .md\:text-align\:right {
    text-align: right !important;
  }

  .md\:text-align\:justify {
    text-align: justify !important;
  }

  /*--- text-decoration------------------------ */

  .md\:text-decoration\:none {
    text-decoration: none !important;
  }

  /*--- text-transform --------------------------------------------------------------*/

  .md\:text-transform\:lowercase {
    text-transform: lowercase !important;
  }

  .md\:text-transform\:uppercase {
    text-transform: uppercase !important;
  }

  .md\:text-transform\:capitalize {
    text-transform: capitalize !important;
  }

  /*--- .white-space ------------------------------------------------------------------*/

  .md\:white-space\:normal {
    white-space: normal !important;
  }

  .md\:white-space\:nowrap {
    white-space: nowrap !important;
  }

  /* === cursor =============================== */
  .md\:cursor-pointer\:alias {
    cursor: alias !important;
  }

  .md\:cursor-pointer\:all-scroll {
    cursor: all-scroll !important;
  }

  .md\:cursor-pointer\:auto {
    cursor: auto !important;
  }

  .md\:cursor-pointer\:cell {
    cursor: cell !important;
  }

  .md\:cursor-pointer\:col-resize {
    cursor: col-resize !important;
  }

  .md\:cursor-pointer\:ontext-menu {
    cursor: context-menu !important;
  }

  .md\:cursor-pointer\:copy {
    cursor: copy !important;
  }

  .md\:cursor-pointer\:crosshair {
    cursor: crosshair !important;
  }

  .md\:cursor-pointer\:default {
    cursor: default !important;
  }

  .md\:cursor-pointer\:e-resize {
    cursor: e-resize !important;
  }

  .md\:cursor-pointer\:ew-resize {
    cursor: ew-resize !important;
  }

  .md\:cursor-pointer\:grab {
    cursor: grab !important;
  }

  .md\:cursor-pointer\:grabbing {
    cursor: grabbing !important;
  }

  .md\:cursor-pointer\:help {
    cursor: help !important;
  }

  .md\:cursor-pointer\:move {
    cursor: move !important;
  }

  .md\:cursor-pointer\:n-resize {
    cursor: n-resize !important;
  }

  .md\:cursor-pointer\:ne-resize {
    cursor: ne-resize !important;
  }

  .md\:cursor-pointer\:nesw-resize {
    cursor: nesw-resize !important;
  }

  .md\:cursor-pointer\:pointer {
    cursor: pointer !important;
  }

  .md\:cursor-pointer\:progress {
    cursor: progress !important;
  }

  .md\:cursor-pointer\:s-resize {
    cursor: s-resize !important;
  }

  .md\:cursor-pointer\:se-resize {
    cursor: se-resize !important;
  }

  .md\:cursor-pointer\:sw-resize {
    cursor: sw-resize !important;
  }

  .md\:cursor-pointer\:text {
    cursor: text !important;
  }

  .md\:cursor-pointer\:vertical-text {
    cursor: vertical-text !important;
  }

  .md\:cursor-pointer\:w-resize {
    cursor: w-resize !important;
  }

  .md\:cursor-pointer\:wait {
    cursor: wait !important;
  }

  .md\:cursor-pointer\:zoom-in {
    cursor: zoom-in !important;
  }

  .md\:cursor-pointer\:zoom-out {
    cursor: zoom-out !important;
  }

  .md\:cursor-pointer\:initial {
    cursor: initial !important;
  }

  .md\:cursor-pointer\:inherit {
    cursor: inherit !important;
  }

  /*-=== visible =================================--------------------------*/
  .md\:visibility\:visible {
    visibility: visible !important;
  }

  .md\:visibility\:hidden {
    visibility: hidden !important;
  }

  .md\:visibility\:collapse {
    visibility: collapse !important;
  }

  .md\:visibility\:unset {
    visibility: unset !important;
  }

  .md\:visibility\:inherit {
    visibility: inherit !important;
  }

  .md\:visibility\:initial {
    visibility: initial !important;
  }

  /* ==== float ================================ */
  .md\:float\:left {
    float: left !important;
  }

  .md\:float\:right {
    float: right !important;
  }

  .md\:float\:none {
    float: none !important;
  }

  .md\:float\:inline-end {
    float: inline-end !important;
  }

  .md\:float\:inline-start {
    float: inline-start !important;
  }

  .md\:float\:unset {
    float: unset !important;
  }

  .md\:float\:inherit {
    float: inherit !important;
  }

  .md\:float\:initial {
    float: initial !important;
  }

  /* === vertical-align =========================== */
  .md\:vertical-align\:auto {
    vertical-align: auto !important;
  }

  .md\:vertical-align\:baseline {
    vertical-align: baseline !important;
  }

  .md\:vertical-align\:bottom {
    vertical-align: bottom !important;
  }

  .md\:vertical-align\:middle {
    vertical-align: middle !important;
  }

  .md\:vertical-align\:sub {
    vertical-align: sub !important;
  }

  .md\:vertical-align\:super {
    vertical-align: super !important;
  }

  .md\:vertical-align\:text-bottom {
    vertical-align: text-bottom !important;
  }

  .md\:vertical-align\:text-top {
    vertical-align: text-top !important;
  }

  .md\:vertical-align\:top {
    vertical-align: top !important;
  }

  .md\:vertical-align\:auto {
    vertical-align: -webkit-baseline-middle !important;
  }

  .md\:vertical-align\:inherit {
    vertical-align: inherit !important;
  }

  .md\:vertical-align\:initial {
    vertical-align: initial !important;
  }
}

@media (min-width: 1024px) {
}
