@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-size-14);

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}